<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RMArt.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RMArt.Client.Properties.Settings>
            <setting name="UploadDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="IncludeUploadSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadTags" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadQuery" serializeAs="String">
                <value/>
            </setting>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseCustomDownloadSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDownloadSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="Site" serializeAs="String">
                <value/>
            </setting>
            <setting name="DeleteFilesAfterUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetPixivSources" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUploadNewPictures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadRatingSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReplaceExistingFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckByData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotEditExisting" serializeAs="String">
                <value>True</value>
            </setting>
        </RMArt.Client.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
