<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RMArt.ServiceTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>

	<connectionStrings>
		<add name="mainDB" connectionString="Data Source=.;Initial Catalog=rmart;Integrated Security=True;Connection Timeout=2147483647" providerName="SqlServer.2012"/>
	</connectionStrings>

	<applicationSettings>
		<RMArt.ServiceTool.Properties.Settings>
			<setting name="PicturesDirectory" serializeAs="String">
				<value>C:\RMArt_Data\Pictures\</value>
			</setting>
			<setting name="ThumbsDirectory" serializeAs="String">
				<value>C:\RMArt_Data\Thumbs\</value>
			</setting>
		</RMArt.ServiceTool.Properties.Settings>
	</applicationSettings>

</configuration>
